.DS_Store
.idea/
.vscode/

**/node_modules/
.pnpm-store/
**/dist/
**/coverage/
**/playwright-report/
**/test-results/
**/*.tsbuildinfo

**/.env
**/.env.local
**/.env.*.local

*.log
pnpm-debug.log*
npm-debug.log*
