VITE_SQL_API_BASE=
VITE_AUTH_API_BASE=
VITE_AUTH_PRODUCT_TYPE=chinaBank
VITE_AUTH_BRIDGE_ALLOWED_ORIGINS=http://localhost:8080
VITE_LEGACY_PORTAL_URL=http://localhost:8080/account/bind
VITE_ENABLE_API_MOCK=true
